[submodule ".registry"]
	path = .registry
	url = https://github.com/p0bs/p0bs.r-universe.dev
	branch = HEAD
[submodule "DataKindR"]
	path = DataKindR
	url = https://github.com/p0bs/DataKindR
[submodule "PremPredict"]
	path = PremPredict
	url = https://github.com/p0bs/PremPredict
[submodule "p0bservations"]
	path = p0bservations
	url = https://github.com/p0bs/p0bservations
